
body {
  text-align: center;
}

.navigationpaper {
  background-image: url(../img/the-flatiron-building.png);
}

.navigationpaper h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.section1 {

}

.section1 h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

.section1 h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

.section1 p {
  font-family: Helvetica;
  font-size: 14px;
}


.navigation2 {
  background-image: url(../img/the-flatiron-building.png);
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.navigation2 h2 {
  font-size: 23px;
}

.footer {
  background-color: Dimgray;
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  text-align: left;
}
